modules = ["web", "python-3.11", "nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "glibcLocales", "libiconv", "libxcrypt", "rustc"]

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 46255
externalPort = 3000

[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[deployment]
deploymentTarget = "autoscale"
run = ["uv", "run", "python", "main.py"]
